name: Test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        browser: [chromium]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: microsoft/playwright-github-action@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: actions/setup-node@v2-beta
      with:
        node-version: '12'
    - run: mkdir -p driver
    - name: Install driver
      working-directory: driver
      run: curl -O https://playwright.azureedge.net/builds/cli/playwright-cli-0.5.3-linux.zip && unzip playwright-cli-0.5.3-linux.zip -d .
    - name: Build with Maven
      run: mvn -B package -D skipTests
    - name: Run tests
      run: mvn test
      env:
        BROWSER: ${{ matrix.browser }}
