name: Test Docker
on:
  push:
    paths:
      - '.github/workflows/test_docker.yml'
      - 'Dockerfile*'
    branches:
      - master
      - release-*
  pull_request:
    paths:
      - '.github/workflows/test_docker.yml'
      - 'Dockerfile*'
    branches:
      - master
      - release-*
jobs:
  build:
    timeout-minutes: 60
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        run: docker build -t playwright-java:localbuild-focal -f Dockerfile.focal .
      - name: Test
        run: |
          CONTAINER_ID="$(docker run --rm --ipc=host -v $(pwd):/root/playwright --name playwright-docker-test -d -t playwright-java:localbuild-focal /bin/bash)"
          docker exec "${CONTAINER_ID}" /root/playwright/tools/test-local-installation/create_project_and_run_tests.sh
