name: Build & Test
on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*
jobs:
  dev:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        browser: [chromium, firefox, webkit]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: microsoft/playwright-github-action@v1.5.0
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2
      with:
        distribution: zulu
        java-version: 8
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Download drivers
      shell: bash
      run: scripts/download_driver_for_all_platforms.sh
    - name: Build with Maven
      run: mvn -B package -D skipTests --no-transfer-progress
    - name: Run tests
      run: mvn test --no-transfer-progress --fail-at-end
      env:
        BROWSER: ${{ matrix.browser }}
        PLAYWRIGHT_JAVA_SRC: playwright/src/test/java
    - name: Test Spring Boot Starter
      shell: bash
      env:
        BROWSER: ${{ matrix.browser }}
      run: |
        mvn -B install -D skipTests --no-transfer-progress
        cd tools/test-spring-boot-starter
        mvn package -D skipTests --no-transfer-progress
        java -jar target/test-spring-boot*.jar

  stable:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        browser-channel: [chrome]
        include:
          - os: windows-latest
            browser-channel: msedge
          - os: macos-latest
            browser-channel: msedge
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: microsoft/playwright-github-action@v1.5.0
      - name: Install Media Pack
        if: matrix.os == 'windows-latest'
        shell: powershell
        run: Install-WindowsFeature Server-Media-Foundation
      - name: Set up JDK 1.8
        uses: actions/setup-java@v2
        with:
          distribution: zulu
          java-version: 8
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Download drivers
        shell: bash
        run: scripts/download_driver_for_all_platforms.sh
      - name: Build with Maven
        run: mvn -B package -D skipTests --no-transfer-progress
      - name: Run tests
        run: mvn test --no-transfer-progress --fail-at-end
        env:
          BROWSER: chromium
          BROWSER_CHANNEL: ${{ matrix.browser-channel }}
          PLAYWRIGHT_JAVA_SRC: playwright/src/test/java

  Java_17:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        browser: [chromium, firefox, webkit]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: microsoft/playwright-github-action@v1.5.0
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 17
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: m2
      - name: Download drivers
        shell: bash
        run: scripts/download_driver_for_all_platforms.sh
      - name: Build with Maven
        run: mvn -B package -D skipTests --no-transfer-progress
      - name: Run tests
        run: mvn test --no-transfer-progress --fail-at-end
        env:
          BROWSER: ${{ matrix.browser }}
          PLAYWRIGHT_JAVA_SRC: playwright/src/test/java
      - name: Test Spring Boot Starter
        shell: bash
        env:
          BROWSER: ${{ matrix.browser }}
        run: |
          mvn -B install -D skipTests --no-transfer-progress
          cd tools/test-spring-boot-starter
          mvn package -D skipTests --no-transfer-progress
          java -jar target/test-spring-boot*.jar
